<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="th/layout ::site-head">
<title>Giełda samochodowa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}" />
</head>

<body>
  <div id='container'>
    <header th:replace="th/layout :: site-header" />
    
    <main>
      <h2>Dodaj ofertę</h2>
      <form action="#" th:action="@{/samochody}" th:object="${samochod}" method="post">
   
          <ul th:if="${#fields.hasErrors('*')}" >
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>
           
           <table style="width: 50%; margin: auto;">
              <tbody>
                <tr>
                  <td><span th:text="#{auto.vin}">numer</span></td>
                 <td><input type="text" th:field="*{vin}" th:errorclass="fieldError" required /></td>
               </tr>
               <tr>
                  <td> <span th:text="#{auto.marka}">marka</span></td>
                 <td> <input type="text" th:field="*{marka}" th:errorclass="fieldError" required/></td>
               </tr>
               <tr>
                  <td> <span th:text="#{auto.model}">model</span></td>
                 <td><input type="text" th:field="*{model}" th:errorclass="fieldError" required/></td>
               </tr>
               <tr>
                  <td><span th:text="#{auto.wersja}">wersja</span></td>
                 <td> <input type="text" th:field="*{wersja}" th:errorclass="fieldError" /></td>
               </tr>
               <tr>
                  <td> <span th:text="#{auto.waluta}">waluta</span></td>
                 <td><input type="text" th:field="*{waluta}" th:errorclass="fieldError" required/></td>
               </tr>
               <tr>
                  <td><span th:text="#{auto.cena}">cena</span></td>
                 <td><input type="text" th:field="*{cena}" th:errorclass="fieldError" required/></td>
               </tr>
               <tr>
                  <td><span th:text="#{auto.data}">Date kup</span></td>
                 <td><input type="text" th:field="*{data}" th:errorclass="fieldError" required/></td>
               </tr>
               <tr>
                  <td><span th:text="#{auto.krajPochodzenia}">krajPochodzenia</span></td>
                 <td><input type="text" th:field="*{krajPochodzenia}" th:errorclass="fieldError" required/></td>
               </tr>
               <tr>
                  <td><span th:text="#{auto.status}">status</span></td>
                <td>
                  <select th:field="*{status}" th:errorclass="fieldError">
                    <option th:each="st : ${statusyAll}" th:value="${st}" th:text="#{'auto.status.' + ${st}}">Nowa</option>
                  </select>
                </td>
               </tr>
               <tr>
                  <td>
                     <button th:if="*{vin}" type="submit" name="save" th:value="*{vin}" >Zapisz</button>
                      <button th:unless="*{vin}" type="submit" name="create" >Dodaj</button>
                  </td>
                  <td>
                    <a href="gielda.html" th:href="@{/samochody}" >
                      <button type="button">Anuluj</button>
                    </a>
                  </td>
               </tr>
              </tbody>
           </table>
      </form>
    </main>       
   
    <footer th:replace="th/layout :: site-footer" />
  </div>
</body>
</html>